* {margin: 0; padding: 0;}

#header {
  font-size: 30px; 
  background: #fff; 
  padding: 15px 0px 15px 10%; 
  border-bottom: 1px solid;
}
#intervalErrorMessage {
  font-size: 30px; 
  color: #000; 
  float: right; 
  padding-right: 10%;
}


.market-item {
  text-align: center;
  padding-bottom: 50px;
}

input {
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px!important;
    background-color: #F5F5F5;
    color: #000;
    border: solid 2px #414141;
    border-radius: 13px;
}

button.actionBtn {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    background: #656565;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(#656565, #444);
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #939393;
    color: #fff;
    text-shadow: 0 1px 0 #2f2f2f; }
    
button.actionBtn:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: -moz-linear-gradient(#4c4c4c, #565656);
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181; }
    
button.actionBtn:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e; }

#norm {
  width: 300px;
  height: auto;
}

#good {
  width: 700px;
  height: auto;
}